@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-link: var(--onion-dark);
	--color-link-hover: var(--onion-dark);
	--color-focus: var(--onion-yellow-mid);
	--color-mark: var(--color-red);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	--text-size: var(--24px);
	--color-primary: var(--onion-teal);
	--color-secondary: var(--onion-pink-dark);
	--demo-spacing-y: 1rem;
	--demo-spacing-x: 0;
	--axis-thickness: 2;
	--duration-transform: 800ms;
	--duration-fade: 200ms;

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

body {
  margin: 0;
  padding: 0;
  background: var(--onion-cream);
  box-shadow:
    inset 0 0 0 2px var(--onion-pink-dark),
    inset 0 0 4px 4px var(--onion-pink-mid),
    inset 0 0 4px 12px var(--onion-pink-light),
    inset 0 0 2px 18px var(--onion-yellow-light);
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
	line-height: 1.25;
	font-size: clamp(24px, 4vw, 36px);
	font-family: var(--sans);
	font-weight: bold;
}

h3 {
	font-size: var(--28px, 28px);
	line-height: 1.25;
	font-size: clamp(20px, 3vw, 28px);
	font-family: var(--sans);
	font-weight: bold;
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
}

.text,
li, blockquote, span, details, summary {
	font-size: 22px;
}

.small {
	font-size: var(--14px);
}

figure {
	margin: 32px auto;
}

figure img {
	border: 1px solid var(--onion-dark);
	border-radius: 4px;
}

figure figcaption {
	font-size: var(--14px);
	color: var(--onion-dark);
	font-family: var(--sans);
	font-style: italic;
	margin-top: 8px;
	text-align: center;
}

summary {
	background: var(--onion-yellow-light);
	color: var(--onion-dark);
	font-family: var(--sans);
	font-weight: 700;
	cursor: pointer;
	font-size: var(--16px);
	padding: 8px;
}

details {
	font-size: var(--16px);
	font-family: var(--sans);
	background: var(--onion-yellow-light);
	padding: 1rem;
	font-weight: 500;
	line-height: 1.6;
	margin: 24px auto;
	border-radius: 4px;
}

@media screen and (max-width: 640px) {
	.text,
	li, blockquote, span {
		font-size: 18px;
	}
}

footer svg {
	width: 100%;
	height: auto;
}